@media (max-width : 1725px) {
  .head__l {
    gap: 29px;
  }
  .logo {
    width: 150px;
  }
  .directs__row .blocks__item p {
    margin-top: auto;
  }
  .serv-page__row {
    .servs__top {      
      flex-direction: column;      
      align-items: flex-start;
    }
    .servs__image {
      margin-top: auto;
    }
    .blocks__item {
      p {
        
      }
    }
  }
}//1725

@media (max-width : 1199px) {
  .burger {
    margin-top: 4px;
    display: inline-block;
    width: 27px;
    height: 3px;
    background-color: $gr;
    border-radius: 15px;
    margin-left: auto;
    position: relative;    
  }
  
  .burger:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $gr;
    border-radius: 15px;
  }
  .burger:after {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $gr;
    border-radius: 15px;
  }
  .top--inv {
    .burger,
    .burger:after,
    .burger:before {
      background-color: #FFF;
    }
  }
  .burger.burger-open {
    background-color: transparent;
  }
  .burger.burger-open:before {
    transform: rotate(45deg) translate(5px, 5px);
    top: -9px;
  }
  .burger.burger-open:after {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 10px;
  }
  .header__row {
    position: relative;
  }
  .header__col {
    position: absolute;
    width: 100%;
    background-color: #FFF;
    right: 0;
    padding: 20px 0;
    transition: 0.5s;
    height: 100vh;
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    top: 0;
    z-index: 14;
    overflow-y: auto;
    transform: translateX(150%);
    padding-left: calc((100% - 1695px)/2);    
    gap: 25px;
    @media only screen and (max-width : 1199px) {
      padding-left: calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2);
    }
    @media only screen and (max-width : 991px) {
      padding-left: calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2);
    }
    @media only screen and (max-width : 767px) {
      padding-left: calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2);
    }
    @media only screen and (max-width : 640px) {
      padding-left: calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2);
    }
    @media only screen and (max-width : 570px) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .header__col.open {
    transform: translateX(0);
  }
  .top--inv .top__mnu,
  .top__mnu {  
    display: flex;
    width: 100%;        
    align-items: flex-start;
    flex-direction: column;    
    ul {      
      flex-direction: column;      
      align-items: flex-start;
      li {
        &.parent {          
          ul {
            padding: 25px 0 0 20px;
            align-items: flex-start;
            &.show {
              position: static;
              opacity: 1;
              visibility: visible;
            }
          }
        }
        a {
          color: $gr;
        }
        span.carret {
          background-image: url("../img/arr-dw-mn-wh.svg");
          width: 30px;
          margin-left: 0;
        }
      }
    }
  }
  .top__geo,
  .top__phone {
    margin-left: 0;
  }
  .top--inv .top__phone {
    color: $gr;
  }
  .top--inv .top__btn {
    background-color: $gr;
    color: #FFF;
  }
  .head__r {
    margin-left: unset;
    width: 100%;    
    justify-content: flex-start;    
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }
  .blocks__row {
    gap: 15px;
  }
  .blocks__item {
    width: calc(33.333% - 10px);
  }
  .s-about__r:before {
    width: 60px;
    height: 60px;    
    background-size: 12px;
  }
  .h2__w {
    margin-bottom: 20px;
  }
  .h2 {
    margin-bottom: 20px;
  }
  .top__search {
    display: none;
  }
  .servs__top {
    min-height: unset;
  }
  .banner__text {
    max-width: 100%;
    font-size: 54px;
  }
  .content__r form {    
    flex-direction: column;
    input,
    button {
      width: 100%;
    } 
  }
  .content__l {
    padding-right: 30px;
  }
  .article__row {
    .article__l {
      width: calc(100% - 300px);
    }
    .article__r {
      width: 300px;
    }
  }
  .article__img {
    width: 80px;
    height: 80px;
  }
  .article__item {
    .h3 {
      font-size: 20px;
    }
  }
  .cont__w {
    margin-top: 0;
  }
  .about__item {
    width: 100%;
  }
  .about__col {
    width: calc(50% - 15px);
  }
  .blocks__item {
    width: calc(50% - 8px);
  }
  form.top-search__form {
    display: none;
  }
}//1199


@media (max-width : 991px) {
  
  .directions__item {
    width: 100%;
  }
  .map__row {    
    flex-direction: column;
    gap: 35px;
  }
  .map__l,
  .map__map {
    width: 100%;
  }
  .footer__top {
    gap: 40px;
    flex-direction: column;
  }
  .footer {
    padding: 55px 0 70px 0;
  }
  .hero__content h1 {
    font-size: 44px;
    margin-bottom: 30px;
  }
  .hero__content p {
    font-size: 18px;
    margin-bottom: 41px;
  }
  .section {
    padding-top: 45px;
  }
  input[type="submit"],
  input[type="email"], 
  input[type="tel"], 
  input[type="password"], 
  input[type="text"] {
    height: 45px;
  }
  .banner__text {
    font-size: 44px;
  }
  .content__row {    
    flex-direction: column;
    gap: 25px;
  }
  .content__l {
    padding-right: 0;
  }
  .content__r,
  .content__l {
    width: 100%;
  }
  .content__r {
    padding-bottom: 0;
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }
  .content__l ul li a {
    gap: 10px;
  }
  .content__l ul li a {
    font-size: 14px;
  }
  .content__l {
    .h2 {
      font-size: 22px;
      min-height: unset;
    }
  } 
  .accordion-header {
    font-size: 19px;
  }
  .prices__w {    
    flex-direction: column;
    gap: 30px;
  }
  .prices__l,
  .prices__r {
    width: 100%;
  }
  .prices__phone {
    font-size: 25px;
  }
  .prices__r {
    .h3 {
      font-size: 22px;
    }
  }
  .prices__title {
    margin-bottom: 26px;
  }
  .article__row {    
    flex-direction: column;
    .article__r {
      width: 100%;
    }
    .article__l {
      width: 100%;
      padding-right: 0;
    }
  }
  .article-r__form {
    margin-top: 30px;
  }
  .cont__form form {    
    flex-direction: column;
    input,
    button {
      width: 100%;
    }
  }
}//991

@media (max-width : 767px) {
  .blocks__item {
    padding: 30px 26px;
  }
  .block__title {
    font-size: 22px;
  }
  p,
  .p16 {
    font-size: 14px;
  }
  .btn {
    font-size: 16px;
    height: 42px;
    padding: 0 25px;
  }
  .directions__title {
    font-size: 24px;
    line-height: 1.4;
  }
  .directions__item {
    gap: 20px;
    padding: 30px 26px 30px 26px;
  }
  .s-about__row {    
    flex-direction: column;
  }
  .s-about__r,
  .s-about__l {
    width: 100%;
  }
  .banner__text {
    font-size: 40px;
  }
  .cont__title {
    padding: 20px;
  }
  .cont__w {
    gap: 20px;
  }
  .cont__txt {
    margin: 30px 0;
    max-width: 100%;
  }
  .about__col {
    width: 100%;
  }
}//767

@media (max-width : 640px) {
  .h2 {
    font-size: 28px;
  }
  .blocks__item {
    padding: 20px 16px;
    gap: 15px;
  }
  .block__title {
    font-size: 20px;
  }
  .banner__text {
    font-size: 33px;
  }
  .career__item__cont {
    width: 100%;
  }
  .career__item {    
    flex-wrap: wrap;
    gap: 25px;
    padding: 31px 26px 30px 26px;
  }
  .career__cont {    
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  .career__address {
    margin-right: 0;
  }
  .cont__title {
    width: 100%;
  }
  .cont__txt {
    font-size: 18px;
  }

}//640

@media (max-width : 600px) {
  .serv-page__row {
    .blocks__item {
      width: 100%;
    }  
  }
}

@media (max-width : 575px) {
  .servs__top {    
    flex-direction: column;    
    align-items: flex-start;
  } 
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 21px;
  }
  h3 {
    font-size: 17px;
  }
  .directions__item {  
    background-size: 160px;
  }
  .modal-form__block {
      padding-left: 20px;
      padding-right: 20px;
    form {
    }
  }
}//575

@media (max-width : 480px) {
  .hero__content h1 {
    font-size: 38px;
  }
  .hero__content p {
    font-size: 16px;
  }
  .blocks__item {
    width: 100%;
  }
  .directions__item p {
    max-width: 100%;
  }
  .top {
    padding: 18px 0;
  }
  .header__col {
    margin-top: 50px;
  }
  .prices__form-wrap {    
    flex-direction: column;
    gap: 10px;
    input {
      width: 100%;      
      border-radius: 100px !important;
    }
  }
}//480

@media only screen and (max-width : 360px) {
  body, body > * {
    width: auto;
    min-width: 360px;
  }
}