@charset "UTF-8";

$nr: no-repeat;
$rb: right bottom;
$rt: right top;
$rc: right center;
$cc: center center;
$lc: left center;
$lb: left bottom;
$bc: bottom center;
$i: !important;
$tr: transparent;
$bord: 1px solid #EAEAEA;
$black: #000;
$gr: #004539;
$yel: #FFA300;
$ff2: "Outfit", sans-serif;


@import "_reset.scss";
@import "_media.scss";

/*@font-face {
font-family: 'Calibri';
src: url('../fonts/Calibri-regular.woff') format('woff'),
url('../fonts/Calibri-regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}
*/

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  border: none;
  outline: none;
}

textarea {  
  &:hover, &:active, &:focus {    
    outline: none;    
  }
}

body {  
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  min-height: 100vh;
  &.ohi {
    overflow: hidden;
  }
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 1.5rem;
}

.p16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 24px;  
  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }

}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
  overflow: hidden;
  display: flex;    
  flex-direction: column;    
  min-height: 100vh;
}

.main {  
  flex-grow: 1;
}

/*modal*/


.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;  
  display: none;
  background: rgba(45, 40, 40, 0.5);
}

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2;
}

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;   
  width: 555px; 
  background-color: #FFF;
  min-height: 100px;
}

.modal-form__inner {
  position: relative;  
}

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0;
}

/*end modal*/

.btn,
.btn-o,
*[class$="__btn"] {  
  transition: 0.5s;
  &:hover {
    text-decoration: none;     
  }
}



.top {
  position: relative;
}
.top__row {
  display: flex;  
  align-items: center;  
}

.head__l {
  display: flex;
  gap: 55px;
  align-items: center;
}

.header__col {
  display: flex;  
  flex-grow: 1;
  align-items: center;
}

.logo {
  display: flex;
  width: 200px;
  height: 34px;
  flex: 0 0 auto;
  align-items: center;
  margin-right: 55px;
  img {
    max-width: 100%;
  }
  .logo-img--inv {
    display: none;
  }
  .logo-img {}
}


.top__mnu {
  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 auto;
    li {
      a {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        color: $gr;        
        display: inline-flex;
        align-items: center;
        &:hover {
          text-decoration: none;
        }
      }
      span.carret {
        display: inline-flex;
        margin-left: 8px;
        width: 10px;
        height: 15px;
        background-image: url("../img/arr-dw-mn-wh.svg");          
        background-repeat: no-repeat;
        background-position: center center;
        flex: 0 0 auto;
      }
      &.parent {
        position: relative;    
        text-align: left;    
        ul {
          position: absolute;
          background-color: #FFF;          
          flex-direction: column;                  
          align-items: flex-start;
          padding: 25px;
          min-width: 250px;
          opacity: 0;
          visibility: hidden;          
          border-radius: 5px;
          z-index: 3;
          @media (min-width : 1200px) {
            box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.2);          
          }
          li {
            a {
              color: #000;
            }
          }
        }
        &:hover {
          cursor: pointer;
        }
        @media (any-hover: hover) {
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  } 
}

.top__search {
  background-image: url("../img/search-wh.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

.head__r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.btn {  
  border-radius: 100px;
  height: 49px;
  background: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 20px;  
  color: rgb(0, 69, 57);
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;  
  justify-content: center;
  font-family: $ff2;
  &._yellow {
    background-color: $yel;
  }  
  &._green {
    background-color: $gr;
    color: #FFF;
  }
}

.btn-o {
  border-radius: 100px;
  height: 49px;
  background-color: #FFF;
  border: 2px solid #004539;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: rgb(0, 69, 57);
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  font-family: $ff2;
}

.top__btn {
  background-color: $gr;
  color: #FFF;
}

.top__phone {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: $gr;
  margin-left: 24px;
}

.top__geo {
  background-image: url("../img/country.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 30px;
  height: 30px;
  margin-left: 30px;
}

.top {
  padding-top: 27px;
  padding-bottom: 27px;  
  &--inv {
    .logo-img--inv {
      display: block;
    }
    .logo-img {
      display: none;
    } 
    .top__mnu {
     li {
       span.carret {
         background-image: url("../img/arr-dw-mn.svg");
       }
       a {
         color: #FFF;
       }
     }
   }
   .top__search {
    background-image: url("../img/search.svg");
  }
  .top__btn {
    background-color: #FFF;
    color: $gr;
  }
  .top__phone {
    color: #FFF;
  }
}//top--inv
}

.hero {
  background-image: url("../img/bg-head.jpg");
  background-repeat: no-repeat;
  background-position: left center;  
  background-size: cover;
  padding-top: 0px;  
  height: 100vh;
  max-height: 1080px;
  min-height: 700px;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  position: relative;
  .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

.hero__content {
  padding: 50px 0;
  h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffa300;
    margin-bottom: 71px;
    span {
      display: inline-block;
    }
    i {
      font-style: italic;
      color: #fff;
    }
  }
  p {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    color: #fff;
    max-width: 720px;
    margin-bottom: 71px;
  }
}

.hero__btns {
  display: flex;
  gap: 10px;
}

.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 27px;
}

.h2__w {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  .h2 {
    margin-bottom: 0;
  }
}

.section {
  padding-top: 65px;  
}


.more-link {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgb(0, 69, 57);
  &:hover {
    text-decoration: none;
  }
}

.blocks__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.blocks__item {
  width: calc(33.333% - 20px);
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 40px 36px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  gap: 20px;
  &:hover {
    text-decoration: none;
  }
}

.servs__top {
  display: flex;  
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  min-height: 78px;
}

.servs__img {
  flex: 0 0 auto;
  display: inline-flex;
  height: 39px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.servs__image {
  width: 100%;
  aspect-ratio: 1.6892 / 1;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.directions__row {
  display: flex;
  gap: 30px;
}

.directions__item {
  width: calc(33.333% - 20px);  
  display: flex;
  flex-direction: column;  
  align-items: flex-start;
  gap: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 10px;
  padding: 40px 36px 27px 36px;
  background: #004539;  
  background-repeat: no-repeat;  
  background-position: right center;
  &._eu {
    background-image: url('../img/directions-1.png');
  }
  &._asia {
    background-image: url('../img/directions-2.png');
  }
  &._aus {
    background-image: url('../img/directions-3.png');
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    max-width: 50%;
    margin-bottom: 10px;
  }
}

.directions__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: #ffa300;
}

.s-about__row {
  display: flex;
  gap: 30px;
}

.s-about__l {
  width: calc(100% - 47.2%);
}

.s-about__r {
  width: 47.2%;
  aspect-ratio: 1.95 / 1;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;  
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &:before {
    content: "";
    display: block;
    border-radius: 100px;
    width: 96px;
    height: 96px;    
    position: absolute;
    z-index: 2;
    background: #fff url("../img/play.svg") no-repeat center;
  }
}

.advants__row {
  display: flex;
  gap: 30px;
}

.block__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #004539;
}

.advants__icon {
  height: 50px;
  img {
    max-height: 100%;
  }
}

.articles__img {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1.2715 / 1; 
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.block__date {
  font-weight: 400;
  font-size: 16px;
  color: #004539;
}

.articles__item {
  gap: 10px;
  p {

  }
}

.map__row {
  display: flex;
  gap: 105px;
}
.map__l {
  width: 400px;  
  flex: none;
  .h2 {
    @media (min-width : 1200px) {
      margin-bottom: 30px;
    }
  }
  form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {
  border: none;
  background: #7fa19b;
  border-radius: 100px;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  &::placeholder {
    color: #FFF;
  }
}

input[type="submit"] {
  background: #004539;
  border-radius: 100px;
  width: 100%;
  height: 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}  

.map__map {
  width: calc(100% - 400px);
  img {
    max-width: 100%;
    height: auto;
  }
}

.h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 10px;
}

.footer {
  padding: 85px 0 150px 0;
  background: url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 65px;
}


.footer__top {
  display: flex;  
  justify-content: space-between;  
  align-items: center;
  border-bottom: 1px solid rgba(#fff, 0.5);
  padding-bottom: 40px;
  margin-bottom: 40px;
  ul {
    display: flex;
    gap: 40px;    
    align-items: center;
    li {
      a {
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.f__logo {
  display: inline-flex;
  width: 200px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.footer__socs {
  display: flex;
  gap: 30px;  
  align-items: center;
  a {
    img {
      height: 30px;
      max-width: 37px;
      width: auto;
      height: auto;
    }
  }
}

.copy {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  font-family: 
  $ff2;
}

.burger {
  display: none;
}

.directs__img {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1.503 / 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.directs__row {
  @media (min-width : 1200px) {
    row-gap: 85px;
  }
  .blocks__item {
    min-height: 448px;
    &:hover {
      text-decoration: none;
    }
    p {
      margin-bottom: 0;      
    }
  }
  .block__title {
    min-height: 117px;
  }
}

.banner {
  min-height: 397px;  
  position: relative;
  display: flex;  
  flex-direction: column;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.2);
    z-index: 1;
  } 
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner__content {
  display: flex;  
  flex-direction: column;
  width: 100%;  
  flex-grow: 1;
  gap: 35px;  
}

.banner__contain {  
  display: flex;  
  flex-direction: column;
  flex-grow: 1;
}


.banner__bread, 
.banner__text {
  position: relative;
  z-index: 2;
}

.banner__text {
  text-align: center;
  padding-top: 109px;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 1154px;
  margin-left: auto;
  margin-right: auto;
}
.banner__bread {
  margin-top: auto;
  margin-bottom: 30px;
  ul {
    display: flex;    
    flex-wrap: wrap;
    row-gap: 10px;
  }
  li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff;
    &:not(:last-child) {
      &:after {
        margin: 0 5px;
        display: inline-block;
        content: "-";
      }
    }
    a {
      color: #FFF;
    }
  }
}
.content__row {
  display: flex;
}

.content__l {
  width: calc(100% - 70.76%);
  padding-right: 108px;
  .h2 {
    min-height: 59px;
    @media (min-width : 1200px) {
      margin-bottom: 20px;
    }
  }
  ul {
    display: flex;    
    flex-direction: column;
    gap: 20px;
    li {
      a {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #004539;
        @media (any-hover: hover) {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.content__r {
  width: 70.76%;  
  flex: none;
  padding-bottom: 154px;
  form {
    width: 100%;
    display: flex;    
    flex-direction: row;
    gap: 10px;
    input,
    button {
      width: calc(20% - 8px);
    }
  }
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #004539;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #004539;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  .blocks__row {
    margin-bottom: 40px;
  }
}

.content__sl {
  overflow: hidden;
  margin-bottom: 40px;
}

//.content__sl {}
.content__slide {  
  aspect-ratio: 2.43 / 1;
}

.content__sl {
  position: relative;
  .slick-arrow {
    position: absolute;
    z-index: 12;  
    border: none;
    background: none;
    font-size: 0;
    background: url("../img/slick-arrow.svg") no-repeat center;
    top: calc(50% - 18px);
    width: 35px;
    height: 35px;  
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.15));  
    border-radius: 50%;
    li {
      button {
        padding: 0;        
        border: none;
      }
    }
  }

  .slick-prev {  
    left: 5px;  
  }

  .slick-next {  
    right: 5px;  
    transform: rotate(180deg);
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;    
    justify-content: center;
    z-index: 11;
    li {
      font-size: 0;
      background: none;
      padding: 0;
      margin: 0 5px;
      button {
        width: 8px;
        height: 8px;
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        border-radius: 100%;        
        background-color: rgba(255, 255, 255, 0.5);        
      }
      &.slick-active {
        button {
          width: 24px;          
          background: #fff;          
          border-radius: 33px;
        }
      }
    }
  }
}//sl

.content__slide {
  overflow: hidden;  
  border-radius: 10px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.accordion-header {  
  cursor: pointer;
}

.accordion-content {
  display: none;
  &.open-content {
    display: block;
  }
}

.accordion-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 40px;
}

.accordion-item {
  background: rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 20px 37px 20px 20px;
  cursor: pointer;
}

.accordion-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #004539;
  position: relative;
  &:after {
    content: "+";
    display: inline-block;
    position: absolute;    
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: #004539;
  }
  &.active-header {
    &:after {
      content: "-";      
    }
  }
}

.accordion-content {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539;
}



.prices__title {
  margin-bottom: 46px;
}

.prices__w {  
  display: flex;
  gap: 59px;
}

.prices__l {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prices__form-wrap {
  display: flex;  
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  input {
    width: calc(50% - 5px);
    &:nth-child(2n-1) {
     border-radius: 100px 0 0 100px;
   }
   &:nth-child(2n) {     
     border-radius: 0 100px 100px 0;
   }    
 }
}

.prices__r {
  width: 40%;  
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .prices__title {
    margin-bottom: 0;    
  }
}

.prices__call-w {
}

.prices__call {
  font-size: 16px;
  color: rgb(0, 69, 57);
}

.prices__phone {
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
  color: #004539;
  font-family: $ff2;
  &:hover {
    text-decoration: none;
  }
}

.article__row {
  display: flex;
  .article__l {          
    width: calc(100% - 400px);
    padding-right: 40px;
  }
  .article__r {
    width: 400px;    
    flex: none;
  }    
}

.article__r {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__l-title {

}

.article__item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  gap: 10px;
  align-items: center;
}

.article__img {
  overflow: hidden;
  border-radius: 10px;
  width: 120px;
  height: 120px;  
  flex: none;  
  align-items: center;
  justify-content: center;
  display: flex;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.article__name-w {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__date {
  font-size: 16px;
  color: rgb(0, 69, 57);
}

.article__work {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__work-btn {
  height: 37px;  
  background-color: $gr;
  color: #FFF;
  font-size: 16px;
}


.article__l {
  width: 75%;
}

.date__w {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.date {
  font-size: 16px;
  color: rgb(0, 69, 57);
}

.share__link {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: rgb(0, 69, 57);
}


.article__l {

}

h1 {
  font-size: 32px;
}
h2 {    
  font-size: 26px;    
}
h3 {    
  font-size: 22px;
}
h1,
h2,
h3 {
  font-weight: 700;
  color: #004539;
  margin-bottom: 20px;
  line-height: 1.5;
}


blockquote {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 69, 57, 0.2);
  margin-bottom: 20px;  
  line-height: 1.5;
  font-size: 16px;
  color: $gr;
  font-weight: 400;  
  color: #004539;
  position: relative;
  padding-top: 58px;
  text-indent: 20px;
  &:before {
    text-indent: 0px;
    position: absolute;
    top: 15px;
    left: 20px;
    content: "“";
    font-size: 50px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px;
  }  
}

.article-r__form {
  form {
    display: flex;    
    flex-direction: column;
    gap: 10px;
  }
  .h3 {
    margin-bottom: 10px;
  }
}


.career__item-w {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.career__item {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 41px 18px 40px 36px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  gap: 39px;
  align-items: center;
  &:nth-child(2n) {
   background: rgba(0, 69, 57, 0.1); 
 }  
}

.career__item__cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3 {
    margin-bottom: 0;
  }
}



.career__cont {
  display: flex;
}

.career__address {
  margin-right: 95px;
}

.career__phone {
  font-size: 16px;
  color: rgb(0, 69, 57);
}

.career__txt {  
  margin-bottom: 0;
}

.career__btn {
  border-radius: 100px;
  height: 37px;
  background: rgb(0, 69, 57);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: rgb(255, 255, 255);  
  padding-left: 47px;
  padding-right: 47px;
  flex: 0 0 auto;
}



.key {
  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    li {
      font-size: 16px;
      line-height: 1.5;
      color: rgb(0, 69, 57);
      position: relative;
      padding-left: 15px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 0;        
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: $gr;
      }  
    }
  }
}


.key__cont {
  display: flex;
  margin-bottom: 20px;
}






.contain {
}

.cont__w {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.cont__title {
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 30px;
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cont__country {
  display: flex;
  align-items: center;
}

.cont__count-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
}

.cont__count-name {
  font-weight: 700;
  font-size: 24px;
  color: rgb(0, 69, 57);
  margin-left: 16px;
}

.cont__add {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.cont__add-row {
  display: flex;  
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 24px;
  padding-left: 35px;
  &._geo {
    background-image: url('../img/cont-item-1.svg');
  }
  &._mail {
    background-image: url('../img/cont-item-2.svg');
  }
  &._phone {
    background-image: url('../img/cont-item-3.svg');
  }
  p, a {
    font-size: 16px;
    color: rgb(0, 69, 57);
    margin-bottom: 0;
  }
}


.cont__txt {
  max-width: 50%;
  width: 100%;
  font-size: 20px;
  line-height: 1.3;
  color: rgb(0, 69, 57);
  margin-top: 45px;
  margin-bottom: 45px;
}


.cont__form {
  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    input, button {
      width: calc(20% - 8px);
    }
  }
} 

.gal__controls {
  margin-bottom: 31px;
  ul {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
  }
  li {
    a {
      line-height: 1;
      font-size: 16px;
      color: $gr;
      &:hover {
        text-decoration: none;
      }
      &.active {
        text-decoration: underline;
      }
    }
  }
}

.gal__img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}





.about__w {
  margin-top: 48px;
  display: flex;
  gap: 30px;  
  flex-wrap: wrap;
}

.about__item {
  width: calc(33.3333% - 20px);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about__img {
  border-radius: 10px;  
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1.775 / 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}


.about__first {
  font-weight: 700;
  font-size: 26px;
  color: rgb(0, 69, 57);
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__ceo {
  font-size: 16px;
  color: rgb(0, 69, 57);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.about__col {
  width: calc(33.3333% - 20px);
  p {    
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.relate__img {
  overflow: hidden;
  width: 100%;
  display: block;  
  border-radius: 10px;
  aspect-ratio: 2.0476 / 1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

//2000



@import "_after-styless";

body {  
  &.active {
    background: url("../img/1920.jpg") no-repeat top -10px center;
    .wrapper {
      opacity: 0.4;
    } 
    .footer {
      opacity: 0.4;
    }
    .get {
      opacity: 0.4;
    }
  }    
}