@charset "UTF-8";
html {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  padding: 0;
  margin: 0;
  line-height: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

p {
  margin-top: 0;
  font-weight: normal;
  margin-top: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

form {
  padding: 0;
  margin: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

li {
  padding: 0;
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="checkbox"], input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

html {
  -webkit-tap-highlight-color: transparent; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  text-decoration: none; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.group:after, .contain:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.swiper-button-disabled {
  opacity: 0 !important; }

.swiper-button:focus {
  outline: none; }

.lcpadding {
  padding-left: calc((100% - 1695px)/2); }
  @media only screen and (max-width: 1199px) {
    .lcpadding {
      padding-left: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .lcpadding {
      padding-left: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .lcpadding {
      padding-left: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .lcpadding {
      padding-left: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .lcpadding {
      padding-left: 15px; } }

.rcpadding {
  padding-right: calc((100% - 1695px)/2); }
  @media only screen and (max-width: 1199px) {
    .rcpadding {
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 991px) {
    .rcpadding {
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 767px) {
    .rcpadding {
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 640px) {
    .rcpadding {
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 570px) {
    .rcpadding {
      padding-right: 15px; } }

.contain {
  max-width: 1695px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

@media only screen and (max-width: 1725px) {
  .contain {
    max-width: 1170px; } }

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px; } }

@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px; } }

@media only screen and (max-width: 767px) {
  .contain {
    max-width: 600px; } }

@media only screen and (max-width: 640px) {
  .contain {
    max-width: 530px; } }

@media only screen and (max-width: 575px) {
  .contain {
    width: 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px; } }

@media only screen and (max-width: 320px) {
  body, body > * {
    width: auto;
    min-width: 320px; } }

@media only screen and (min-width: 1080px) {
  .main-mnu {
    display: block !important; }
  .hidden-mnu {
    display: none; } }

/*@font-face {
font-family: 'Calibri';
src: url('../fonts/Calibri-regular.woff') format('woff'),
url('../fonts/Calibri-regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}
*/
a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  outline: none; }

textarea:hover, textarea:active, textarea:focus {
  outline: none; }

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  min-height: 100vh; }
  body.ohi {
    overflow: hidden; }

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 1.5rem; }

.p16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 24px; }
  .p16:last-child, .p16:last-of-type {
    margin-bottom: 0; }

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main {
  flex-grow: 1; }

/*modal*/
.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  z-index: 5;
  display: none;
  background: rgba(45, 40, 40, 0.5); }

.modal-form__layout {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 2; }

.modal-form__block {
  position: absolute;
  top: 5%;
  margin-bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 6;
  width: 555px;
  background-color: #FFF;
  min-height: 100px; }

.modal-form__inner {
  position: relative; }

.modal-close {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 7;
  width: 24px;
  height: 24px;
  background: url("../img/close-w.svg") no-repeat 0 0; }

/*end modal*/
.btn,
.btn-o,
*[class$="__btn"] {
  transition: 0.5s; }
  .btn:hover,
  .btn-o:hover,
  *[class$="__btn"]:hover {
    text-decoration: none; }

.top {
  position: relative; }

.top__row {
  display: flex;
  align-items: center; }

.head__l {
  display: flex;
  gap: 55px;
  align-items: center; }

.header__col {
  display: flex;
  flex-grow: 1;
  align-items: center; }

.logo {
  display: flex;
  width: 200px;
  height: 34px;
  flex: 0 0 auto;
  align-items: center;
  margin-right: 55px; }
  .logo img {
    max-width: 100%; }
  .logo .logo-img--inv {
    display: none; }

.top__mnu ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex: 0 0 auto; }
  .top__mnu ul li a {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #004539;
    display: inline-flex;
    align-items: center; }
    .top__mnu ul li a:hover {
      text-decoration: none; }
  .top__mnu ul li span.carret {
    display: inline-flex;
    margin-left: 8px;
    width: 10px;
    height: 15px;
    background-image: url("../img/arr-dw-mn-wh.svg");
    background-repeat: no-repeat;
    background-position: center center;
    flex: 0 0 auto; }
  .top__mnu ul li.parent {
    position: relative;
    text-align: left; }
    .top__mnu ul li.parent ul {
      position: absolute;
      background-color: #FFF;
      flex-direction: column;
      align-items: flex-start;
      padding: 25px;
      min-width: 250px;
      opacity: 0;
      visibility: hidden;
      border-radius: 5px;
      z-index: 3; }
      @media (min-width: 1200px) {
        .top__mnu ul li.parent ul {
          box-shadow: 4px 4px 11px -2px rgba(0, 0, 0, 0.2); } }
      .top__mnu ul li.parent ul li a {
        color: #000; }
    .top__mnu ul li.parent:hover {
      cursor: pointer; }
    @media (any-hover: hover) {
      .top__mnu ul li.parent:hover ul {
        opacity: 1;
        visibility: visible; } }

.top__search {
  background-image: url("../img/search-wh.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  margin-left: 16px; }

.head__r {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto; }

.btn {
  border-radius: 100px;
  height: 49px;
  background: white;
  font-weight: 500;
  font-size: 20px;
  color: #004539;
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif; }
  .btn._yellow {
    background-color: #FFA300; }
  .btn._green {
    background-color: #004539;
    color: #FFF; }

.btn-o {
  border-radius: 100px;
  height: 49px;
  background-color: #FFF;
  border: 2px solid #004539;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #004539;
  display: inline-flex;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  font-family: "Outfit", sans-serif; }

.top__btn {
  background-color: #004539;
  color: #FFF; }

.top__phone {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #004539;
  margin-left: 24px; }

.top__geo {
  background-image: url("../img/country.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 30px;
  height: 30px;
  margin-left: 30px; }

.top {
  padding-top: 27px;
  padding-bottom: 27px; }
  .top--inv .logo-img--inv {
    display: block; }
  .top--inv .logo-img {
    display: none; }
  .top--inv .top__mnu li span.carret {
    background-image: url("../img/arr-dw-mn.svg"); }
  .top--inv .top__mnu li a {
    color: #FFF; }
  .top--inv .top__search {
    background-image: url("../img/search.svg"); }
  .top--inv .top__btn {
    background-color: #FFF;
    color: #004539; }
  .top--inv .top__phone {
    color: #FFF; }

.hero {
  background-image: url("../img/bg-head.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  padding-top: 0px;
  height: 100vh;
  max-height: 1080px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative; }
  .hero .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.hero__content {
  padding: 50px 0; }
  .hero__content h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffa300;
    margin-bottom: 71px; }
    .hero__content h1 span {
      display: inline-block; }
    .hero__content h1 i {
      font-style: italic;
      color: #fff; }
  .hero__content p {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.5;
    color: #fff;
    max-width: 720px;
    margin-bottom: 71px; }

.hero__btns {
  display: flex;
  gap: 10px; }

.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 27px; }

.h2__w {
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap; }
  .h2__w .h2 {
    margin-bottom: 0; }

.section {
  padding-top: 65px; }

.more-link {
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #004539; }
  .more-link:hover {
    text-decoration: none; }

.blocks__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; }

.blocks__item {
  width: calc(33.333% - 20px);
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 40px 36px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px; }
  .blocks__item:hover {
    text-decoration: none; }

.servs__top {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0px;
  min-height: 78px; }

.servs__img {
  flex: 0 0 auto;
  display: inline-flex;
  height: 39px; }
  .servs__img img {
    max-width: 100%;
    height: auto; }

.servs__image {
  width: 100%;
  aspect-ratio: 1.6892 / 1;
  height: auto;
  overflow: hidden;
  border-radius: 10px; }
  .servs__image img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.directions__row {
  display: flex;
  gap: 30px; }

.directions__item {
  width: calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 10px;
  padding: 40px 36px 27px 36px;
  background: #004539;
  background-repeat: no-repeat;
  background-position: right center; }
  .directions__item._eu {
    background-image: url("../img/directions-1.png"); }
  .directions__item._asia {
    background-image: url("../img/directions-2.png"); }
  .directions__item._aus {
    background-image: url("../img/directions-3.png"); }
  .directions__item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    max-width: 50%;
    margin-bottom: 10px; }

.directions__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: #ffa300; }

.s-about__row {
  display: flex;
  gap: 30px; }

.s-about__l {
  width: calc(100% - 47.2%); }

.s-about__r {
  width: 47.2%;
  aspect-ratio: 1.95 / 1;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .s-about__r img {
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .s-about__r:before {
    content: "";
    display: block;
    border-radius: 100px;
    width: 96px;
    height: 96px;
    position: absolute;
    z-index: 2;
    background: #fff url("../img/play.svg") no-repeat center; }

.advants__row {
  display: flex;
  gap: 30px; }

.block__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #004539; }

.advants__icon {
  height: 50px; }
  .advants__icon img {
    max-height: 100%; }

.articles__img {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1.2715 / 1;
  width: 100%; }
  .articles__img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.block__date {
  font-weight: 400;
  font-size: 16px;
  color: #004539; }

.articles__item {
  gap: 10px; }

.map__row {
  display: flex;
  gap: 105px; }

.map__l {
  width: 400px;
  flex: none; }
  @media (min-width: 1200px) {
    .map__l .h2 {
      margin-bottom: 30px; } }
  .map__l form {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    flex-direction: column; }

input[type="email"],
input[type="tel"],
input[type="password"],
input[type="text"] {
  border: none;
  background: #7fa19b;
  border-radius: 100px;
  width: 100%;
  height: 65px;
  padding: 0 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff; }
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="password"]::placeholder,
  input[type="text"]::placeholder {
    color: #FFF; }

input[type="submit"] {
  background: #004539;
  border-radius: 100px;
  width: 100%;
  height: 65px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #fff; }

.map__map {
  width: calc(100% - 400px); }
  .map__map img {
    max-width: 100%;
    height: auto; }

.h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
  color: #004539;
  margin-bottom: 10px; }

.footer {
  padding: 85px 0 150px 0;
  background: url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: 65px; }

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 40px;
  margin-bottom: 40px; }
  .footer__top ul {
    display: flex;
    gap: 40px;
    align-items: center; }
    .footer__top ul li a {
      font-weight: 500;
      font-size: 16px;
      color: #fff; }
      .footer__top ul li a:hover {
        text-decoration: none; }

.f__logo {
  display: inline-flex;
  width: 200px; }
  .f__logo img {
    max-width: 100%;
    height: auto; }

.footer__socs {
  display: flex;
  gap: 30px;
  align-items: center; }
  .footer__socs a img {
    height: 30px;
    max-width: 37px;
    width: auto;
    height: auto; }

.copy {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
  opacity: 0.7;
  font-family: "Outfit", sans-serif; }

.burger {
  display: none; }

.directs__img {
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1.503 / 1; }
  .directs__img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

@media (min-width: 1200px) {
  .directs__row {
    row-gap: 85px; } }

.directs__row .blocks__item {
  min-height: 448px; }
  .directs__row .blocks__item:hover {
    text-decoration: none; }
  .directs__row .blocks__item p {
    margin-bottom: 0; }

.directs__row .block__title {
  min-height: 117px; }

.banner {
  min-height: 397px;
  position: relative;
  display: flex;
  flex-direction: column; }
  .banner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; }

.banner__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  gap: 35px; }

.banner__contain {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.banner__bread,
.banner__text {
  position: relative;
  z-index: 2; }

.banner__text {
  text-align: center;
  padding-top: 109px;
  font-weight: 500;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 1154px;
  margin-left: auto;
  margin-right: auto; }

.banner__bread {
  margin-top: auto;
  margin-bottom: 30px; }
  .banner__bread ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px; }
  .banner__bread li {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: -0.02em;
    color: #fff; }
    .banner__bread li:not(:last-child):after {
      margin: 0 5px;
      display: inline-block;
      content: "-"; }
    .banner__bread li a {
      color: #FFF; }

.content__row {
  display: flex; }

.content__l {
  width: calc(100% - 70.76%);
  padding-right: 108px; }
  .content__l .h2 {
    min-height: 59px; }
    @media (min-width: 1200px) {
      .content__l .h2 {
        margin-bottom: 20px; } }
  .content__l ul {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    .content__l ul li a {
      font-weight: 400;
      font-size: 20px;
      line-height: 1.5;
      text-decoration: underline;
      text-decoration-skip-ink: none;
      color: #004539; }
      @media (any-hover: hover) {
        .content__l ul li a:hover {
          text-decoration: none; } }

.content__r {
  width: 70.76%;
  flex: none;
  padding-bottom: 154px; }
  .content__r form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px; }
    .content__r form input,
    .content__r form button {
      width: calc(20% - 8px); }
  .content__r h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    color: #004539;
    margin-bottom: 20px; }
  .content__r h3 {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.5;
    color: #004539;
    margin-bottom: 20px; }
  .content__r p {
    margin-bottom: 20px; }
  .content__r .blocks__row {
    margin-bottom: 40px; }

.content__sl {
  overflow: hidden;
  margin-bottom: 40px; }

.content__slide {
  aspect-ratio: 2.43 / 1; }

.content__sl {
  position: relative; }
  .content__sl .slick-arrow {
    position: absolute;
    z-index: 12;
    border: none;
    background: none;
    font-size: 0;
    background: url("../img/slick-arrow.svg") no-repeat center;
    top: calc(50% - 18px);
    width: 35px;
    height: 35px;
    filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.15));
    border-radius: 50%; }
    .content__sl .slick-arrow li button {
      padding: 0;
      border: none; }
  .content__sl .slick-prev {
    left: 5px; }
  .content__sl .slick-next {
    right: 5px;
    transform: rotate(180deg); }
  .content__sl .slick-dots {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 11; }
    .content__sl .slick-dots li {
      font-size: 0;
      background: none;
      padding: 0;
      margin: 0 5px; }
      .content__sl .slick-dots li button {
        width: 8px;
        height: 8px;
        padding: 0;
        font-size: 0;
        outline: none;
        border: none;
        border-radius: 100%;
        background-color: rgba(255, 255, 255, 0.5); }
      .content__sl .slick-dots li.slick-active button {
        width: 24px;
        background: #fff;
        border-radius: 33px; }

.content__slide {
  overflow: hidden;
  border-radius: 10px; }
  .content__slide img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.accordion-header {
  cursor: pointer; }

.accordion-content {
  display: none; }
  .accordion-content.open-content {
    display: block; }

.accordion-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 40px; }

.accordion-item {
  background: rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 20px 37px 20px 20px;
  cursor: pointer; }

.accordion-header {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  color: #004539;
  position: relative; }
  .accordion-header:after {
    content: "+";
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    color: #004539; }
  .accordion-header.active-header:after {
    content: "-"; }

.accordion-content {
  padding-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #004539; }

.prices__title {
  margin-bottom: 46px; }

.prices__w {
  margin-top: 52px;
  display: flex;
  gap: 59px; }

.prices__l {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px; }

.prices__form-wrap {
  display: flex;
  gap: 20px 10px;
  flex-wrap: wrap;
  margin-bottom: 10px; }
  .prices__form-wrap input {
    width: calc(50% - 5px); }
    .prices__form-wrap input:nth-child(2n-1) {
      border-radius: 100px 0 0 100px; }
    .prices__form-wrap input:nth-child(2n) {
      border-radius: 0 100px 100px 0; }

.prices__r {
  width: 40%;
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px; }
  .prices__r .prices__title {
    margin-bottom: 0; }

.prices__call {
  font-size: 16px;
  color: #004539; }

.prices__phone {
  font-weight: 600;
  font-size: 35px;
  text-transform: uppercase;
  color: #004539;
  font-family: "Outfit", sans-serif; }
  .prices__phone:hover {
    text-decoration: none; }

.article__row {
  display: flex; }
  .article__row .article__l {
    width: calc(100% - 400px);
    padding-right: 40px; }
  .article__row .article__r {
    width: 400px;
    flex: none; }

.article__r {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px; }

.article__item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  gap: 10px;
  align-items: center; }

.article__img {
  overflow: hidden;
  border-radius: 10px;
  width: 120px;
  height: 120px;
  flex: none;
  align-items: center;
  justify-content: center;
  display: flex; }
  .article__img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

.article__name-w {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.article__date {
  font-size: 16px;
  color: #004539; }

.article__work {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px; }

.article__work-btn {
  height: 37px;
  background-color: #004539;
  color: #FFF;
  font-size: 16px; }

.article__l {
  width: 75%; }

.date__w {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }

.date {
  font-size: 16px;
  color: #004539; }

.share__link {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #004539; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 22px; }

h1,
h2,
h3 {
  font-weight: 700;
  color: #004539;
  margin-bottom: 20px;
  line-height: 1.5; }

blockquote {
  margin: 0;
  padding: 0;
  border-radius: 10px;
  padding: 20px;
  background: rgba(0, 69, 57, 0.2);
  margin-bottom: 20px; }
  blockquote:before {
    content: "“";
    font-size: 50px;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 10px; }

.article-r__form form {
  display: flex;
  flex-direction: column;
  gap: 10px; }

.article-r__form .h3 {
  margin-bottom: 10px; }

.career__item-w {
  display: flex;
  flex-direction: column;
  gap: 30px; }

.career__item {
  border: 1px solid white;
  border-radius: 10px;
  padding: 41px 18px 40px 36px;
  background: rgba(0, 69, 57, 0.2);
  display: flex;
  gap: 39px;
  align-items: center; }
  .career__item:nth-child(2n) {
    background: rgba(0, 69, 57, 0.1); }

.career__item__cont {
  display: flex;
  flex-direction: column;
  gap: 10px; }
  .career__item__cont h3 {
    margin-bottom: 0; }

.career__cont {
  display: flex; }

.career__address {
  margin-right: 95px; }

.career__phone {
  font-size: 16px;
  color: #004539; }

.career__txt {
  margin-bottom: 0; }

.career__btn {
  border-radius: 100px;
  height: 37px;
  background: #004539;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: white;
  padding-left: 47px;
  padding-right: 47px;
  flex: 0 0 auto; }

.key ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px; }
  .key ul li {
    font-size: 16px;
    line-height: 1.5;
    color: #004539;
    position: relative;
    padding-left: 15px; }
    .key ul li:before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: #004539; }

.key__cont {
  display: flex;
  margin-bottom: 20px; }

.cont__w {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px; }

.cont__title {
  border: 1px solid rgba(0, 69, 57, 0.2);
  border-radius: 10px;
  padding: 30px;
  width: calc(50% - 16px);
  display: flex;
  flex-direction: column;
  gap: 30px; }

.cont__country {
  display: flex;
  align-items: center; }

.cont__count-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; }

.cont__count-name {
  font-weight: 700;
  font-size: 24px;
  color: #004539;
  margin-left: 16px; }

.cont__add {
  display: flex;
  flex-direction: column;
  gap: 8px; }

.cont__add-row {
  display: flex;
  align-items: center;
  background-position: left center;
  background-repeat: no-repeat;
  min-height: 24px;
  padding-left: 35px; }
  .cont__add-row._geo {
    background-image: url("../img/cont-item-1.svg"); }
  .cont__add-row._mail {
    background-image: url("../img/cont-item-2.svg"); }
  .cont__add-row._phone {
    background-image: url("../img/cont-item-3.svg"); }
  .cont__add-row p, .cont__add-row a {
    font-size: 16px;
    color: #004539;
    margin-bottom: 0; }

.cont__txt {
  max-width: 50%;
  width: 100%;
  font-size: 20px;
  line-height: 1.3;
  color: #004539;
  margin-top: 45px;
  margin-bottom: 45px; }

.cont__form form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px; }
  .cont__form form input, .cont__form form button {
    width: calc(20% - 8px); }

.gal__controls {
  margin-bottom: 31px; }
  .gal__controls ul {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .gal__controls li a {
    line-height: 1;
    font-size: 16px;
    color: #004539; }
    .gal__controls li a:hover {
      text-decoration: none; }
    .gal__controls li a.active {
      text-decoration: underline; }

.gal__img {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 10px;
  aspect-ratio: 1 / 1; }
  .gal__img img {
    object-fit: cover;
    width: 100%;
    height: 100%; }

@media (max-width: 1725px) {
  .head__l {
    gap: 29px; }
  .logo {
    width: 150px; }
  .directs__row .blocks__item p {
    margin-top: auto; }
  .serv-page__row .servs__top {
    flex-direction: column;
    align-items: flex-start; }
  .serv-page__row .blocks__item p {
    margin-top: auto; } }

@media (max-width: 1199px) {
  .burger {
    margin-top: 4px;
    display: inline-block;
    width: 27px;
    height: 3px;
    background-color: #004539;
    border-radius: 15px;
    margin-left: auto;
    position: relative; }
  .burger:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #004539;
    border-radius: 15px; }
  .burger:after {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #004539;
    border-radius: 15px; }
  .top--inv .burger,
  .top--inv .burger:after,
  .top--inv .burger:before {
    background-color: #FFF; }
  .burger.burger-open {
    background-color: transparent; }
  .burger.burger-open:before {
    transform: rotate(45deg) translate(5px, 5px);
    top: -9px; }
  .burger.burger-open:after {
    transform: rotate(-45deg) translate(8px, -9px);
    top: 10px; }
  .header__row {
    position: relative; }
  .header__col {
    position: absolute;
    width: 100%;
    background-color: #FFF;
    right: 0;
    padding: 20px 0;
    transition: 0.5s;
    height: 100vh;
    margin-top: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    top: 0;
    z-index: 14;
    overflow-y: auto;
    transform: translateX(150%);
    padding-left: calc((100% - 1695px)/2);
    gap: 25px; } }
  @media only screen and (max-width: 1199px) and (max-width: 1199px) {
    .header__col {
      padding-left: calc((100% - 970px)/2);
      padding-right: calc((100% - 970px)/2); } }
  @media only screen and (max-width: 1199px) and (max-width: 991px) {
    .header__col {
      padding-left: calc((100% - 750px)/2);
      padding-right: calc((100% - 750px)/2); } }
  @media only screen and (max-width: 1199px) and (max-width: 767px) {
    .header__col {
      padding-left: calc((100% - 600px)/2);
      padding-right: calc((100% - 600px)/2); } }
  @media only screen and (max-width: 1199px) and (max-width: 640px) {
    .header__col {
      padding-left: calc((100% - 530px)/2);
      padding-right: calc((100% - 530px)/2); } }
  @media only screen and (max-width: 1199px) and (max-width: 570px) {
    .header__col {
      padding-left: 15px;
      padding-right: 15px; } }

@media (max-width: 1199px) {
  .header__col.open {
    transform: translateX(0); }
  .top--inv .top__mnu,
  .top__mnu {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column; }
    .top--inv .top__mnu ul,
    .top__mnu ul {
      flex-direction: column;
      align-items: flex-start; }
      .top--inv .top__mnu ul li.parent ul,
      .top__mnu ul li.parent ul {
        padding: 25px 0 0 20px;
        align-items: flex-start; }
        .top--inv .top__mnu ul li.parent ul.show,
        .top__mnu ul li.parent ul.show {
          position: static;
          opacity: 1;
          visibility: visible; }
      .top--inv .top__mnu ul li a,
      .top__mnu ul li a {
        color: #004539; }
      .top--inv .top__mnu ul li span.carret,
      .top__mnu ul li span.carret {
        background-image: url("../img/arr-dw-mn-wh.svg");
        width: 30px;
        margin-left: 0; }
  .top__geo,
  .top__phone {
    margin-left: 0; }
  .top--inv .top__phone {
    color: #004539; }
  .top--inv .top__btn {
    background-color: #004539;
    color: #FFF; }
  .head__r {
    margin-left: unset;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start; }
  .blocks__row {
    gap: 15px; }
  .blocks__item {
    width: calc(33.333% - 10px); }
  .s-about__r:before {
    width: 60px;
    height: 60px;
    background-size: 12px; }
  .h2__w {
    margin-bottom: 20px; }
  .h2 {
    margin-bottom: 20px; }
  .top__search {
    display: none; }
  .servs__top {
    min-height: unset; }
  .banner__text {
    max-width: 100%;
    font-size: 54px; }
  .content__r form {
    flex-direction: column; }
    .content__r form input,
    .content__r form button {
      width: 100%; }
  .content__l {
    padding-right: 30px; } }

@media (max-width: 991px) {
  .blocks__item {
    width: calc(50% - 8px); }
  .directions__item {
    width: 100%; }
  .map__row {
    flex-direction: column;
    gap: 35px; }
  .map__l,
  .map__map {
    width: 100%; }
  .footer__top {
    gap: 40px;
    flex-direction: column; }
  .footer {
    padding: 55px 0 70px 0; }
  .hero__content h1 {
    font-size: 44px;
    margin-bottom: 30px; }
  .hero__content p {
    font-size: 18px;
    margin-bottom: 41px; }
  .section {
    padding-top: 45px; }
  input[type="submit"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  input[type="text"] {
    height: 45px; }
  .banner__text {
    font-size: 44px; }
  .content__row {
    flex-direction: column;
    gap: 25px; }
  .content__l {
    padding-right: 0; }
  .content__r,
  .content__l {
    width: 100%; }
  .content__r {
    padding-bottom: 0; }
    .content__r h2 {
      font-size: 28px; }
    .content__r h3 {
      font-size: 24px;
      margin-bottom: 16px; }
  .content__l ul li a {
    gap: 10px; }
  .content__l ul li a {
    font-size: 14px; }
  .content__l .h2 {
    font-size: 22px;
    min-height: unset; }
  .accordion-header {
    font-size: 19px; } }

@media (max-width: 767px) {
  .blocks__item {
    padding: 30px 26px; }
  .block__title {
    font-size: 22px; }
  p,
  .p16 {
    font-size: 14px; }
  .btn {
    font-size: 16px;
    height: 42px;
    padding: 0 25px; }
  .directions__title {
    font-size: 24px;
    line-height: 1.4; }
  .directions__item {
    gap: 20px;
    padding: 30px 26px 30px 26px; }
  .s-about__row {
    flex-direction: column; }
  .s-about__r,
  .s-about__l {
    width: 100%; }
  .banner__text {
    font-size: 40px; } }

@media (max-width: 640px) {
  .h2 {
    font-size: 28px; }
  .blocks__item {
    padding: 20px 16px;
    gap: 15px; }
  .block__title {
    font-size: 20px; }
  .banner__text {
    font-size: 33px; } }

@media (max-width: 575px) {
  .servs__top {
    flex-direction: column;
    align-items: flex-start; } }

@media (max-width: 480px) {
  .hero__content h1 {
    font-size: 38px; }
  .hero__content p {
    font-size: 16px; }
  .blocks__item {
    width: 100%; }
  .directions__item p {
    max-width: 100%; }
  .top {
    padding: 18px 0; }
  .header__col {
    margin-top: 70px; } }

@media only screen and (max-width: 360px) {
  body, body > * {
    width: auto;
    min-width: 360px; } }

body.active {
  background: url("../img/1920.jpg") no-repeat top -10px center; }
  body.active .wrapper {
    opacity: 0.4; }
  body.active .footer {
    opacity: 0.4; }
  body.active .get {
    opacity: 0.4; }
